body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0px;
}

header {
  height: 100px;
  width: 100%;
  background-color: rgb(221, 218, 233);
  display: flex;
  gap: 1rem;             
  padding: 1rem;
  font-size: 1rem;
  position: fixed;
  align-items: center;
  justify-content: space-evenly;
}

#episode-select {
  width: 400px;
  height: 30px;
  margin-left: 20px;
}

#search-input {
  width: 300px;
  height: 30px;
  font-size: large;
  margin-right: 20px;
}

main {
  padding-top: 150px;
}

#root {
  background-color: rgb(230, 227, 227);
  padding: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 1024px;
  margin: auto;
}

.episode-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 300px;
  background-color: whitesmoke;
  border-radius: 10px;
  margin-bottom: 50px;
}

.episode-card-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  border: 2px, solid, darkgray;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  height: 5em;
}

.episode-card-title h3 {
  text-align: center;
}

.episode-card-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.episode-card-summary {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 30px;
  color: rgb(100, 100, 100);
}

.summary-link {
  color: black;
  padding-bottom: 20px;
}

footer p {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}