
#root {
  background-color: rgb(230, 227, 227);
  padding: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 1024px;
  margin: auto;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 300px;
  background-color: whitesmoke;
  border-radius: 10px;
}

.card-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  border: 2px, solid, darkgray;
  border-radius: 10px;
}

.card-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.card-summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
  color: rgb(117, 114, 114);
}